.about {
  color: black;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 100%;
  height: 600px;
}

.about h1 {
  margin-top: 0px;
  font-size: 3em;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.about h3 {
  font-size: 3em;
  text-align: center;
  font-family: "Raleway", monospace;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 15%;
}

.filter-flex {
  display: flex;
  justify-content: center;
  background-color: #ee332a;
  color: white;
  padding-top: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.fontawesome-icon {
  font-size: 3em;
}

.filter-intro {
  text-align: center;
  background-color: #ee332a;
  margin-top: 20px;
  margin-bottom: 0px !important;
  padding-top: 20px;
}

.about p {
  font-size: 1.5em;
  margin: 0px auto 20px auto;
  color: white;
  font-family: "Raleway", monospace;
}

.about-action {
  background-color: #ee332a;
  margin-top: 0px;
  padding-bottom: 20px;
}

.about-action p {
  width: 81%;
}

.demo p {
  color: black;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
}

@media (max-width: 414px) {
  .about h3 {
    font-size: 1.5em !important;
  }

  .filter-flex {
    flex-direction: column;
  }

  .demo p {
    width: 86%;
    font-size: 1em;
  }
}

@media (min-width: 425px) and (max-width: 768px) {

  .demo p {
    width: 86%;
    font-size: 1em;
  }
}
