.login-page h1 {
  padding-top: 20px;
  margin-top: 0;
  font-family: "Raleway", monospace;
  text-align: center;
}

fieldset button {
  margin-right: 53px;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #ee332a;
  color: white;
  font-weight: bold;
}
